{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
    
    <div class="p-4 m-4">

        
        <div class="col-lg-9 rounded mx-auto border pt-4">
            <div class="text-center col">

            <div class="display-8">Create Item</div>
            <hr>
            </div>
		    <form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-12 mb-0">
                  {{ form.name|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6 mb-0">
                    {{ form.category|as_crispy_field }}
                  </div>
                <div class="form-group col-md-3 mb-0">
                  {{ form.quantity|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                  {{ form.price|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 mb-0">
                  {{ form.description|as_crispy_field}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 mb-0">
                  {{ form.image|as_crispy_field }}
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary mb-2">
		</form>
		<!-- <div class="border-top pt-3">
			<small class="text-muted">
				Already have an account?<a href="#" class="ml-2">Sign In</a>
			</small>
		</div> -->
    </div>
</div>
</div>

{% endblock content %}