{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mt-4 border mb-4 mx-auto rounded pt-4">
            <h3  class="alert alert-light border mt-4 mb-4 rounded">Login Here</h3>
            <form method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <fieldset class="form-group">
                    {{ form|crispy}}
                </fieldset>
                <hr>
                <div class="form-group">
                    <input class="btn btn-sm btn-info col-lg-4" type="submit" value="Login">
                </div>

                
            </form>
        </div>
    </div>
</div>

{% endblock %}